[run]
source = ias
omit = ias/swagger_server/__main__.py
       ias/tasks/cpu_tasks/celeryconfig.py
       ias/tasks/gpu_tasks/celeryconfig.py
       ias/swagger_server/celeryconfig.py
branch = True

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
